[submodule "dependencies/FastNoise2"]
	path = dependencies/FastNoise2
	url = https://github.com/Auburn/FastNoise2.git
[submodule "dependencies/asio"]
	path = dependencies/asio
	url = https://github.com/chriskohlhoff/asio.git
