[submodule "dependencies/FastNoise2"]
	path = dependencies/FastNoise2
	url = https://github.com/Auburn/FastNoise2.git
[submodule "dependencies/asio"]
	path = dependencies/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "src/godot/godot-cpp"]
	path = src/godot/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
